
/* main intro section */
#intro {
    background:
     url("../images/header-bg.svg") no-repeat;
    background-size: fill;
    height: 550px;
    background-position:center;
    
}


.box{
  background-color: rgb(196, 131, 19, 0.2);
}

.box1{
    border: 2px solid #FBFBFB;
    padding: 50px 30px 50px 30px;
}

.box1 h3{
  font-size: 52px;
  letter-spacing: 0.6rem;
  color: #FBFBFB;
}

.box1 h5{
    color: #FBFBFB;
    letter-spacing: 0.1rem;
    
}

.box1 button {
    letter-spacing: 0.1rem;
    border: 2px solid #FBFBFB;
    color: #FBFBFB;
    font-weight: 500;
    transition: all ease-in-out 300ms;
}
  
.box1 button:hover {
    background: #FBFBFB;
    color: #1C1B1C;
    transform: scale(1.1);
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    .box1 h3{
        font-size: 35px;
        letter-spacing: 0.3rem;
        color: #FBFBFB;
      }
  }
